<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('../partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include ('../partials/nav.ejs') %>

    <!--alertas-->
    <% errors.forEach(function(error){ %>
        <div class="container">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>ERROR</strong> <%= error.text %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    <%}) %>
    
    <!--card-->
    <div class="container p-4">
        <div class="card mx-auto" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Card</h5>
            
            <form class="mt-3" action="/notas/nuevanota" method="POST">
                <div class="form-group">
                    <label for="tit">Título</label>
                    <input type="text" class="form-control" id="tit" name="titulo" placeholder="Título" >
                </div>
                <div class="form-group mt-3">
                    <label for="desc">Descripción</label>
                    <input rows="3" type="text" class="form-control" id="desc" name="descripcion" > 
                </div>
                <button type="submit"  class="btn btn-primary btn-block mt-3">Enviar</button>
            </form>

            <a href="#" class="card-link ">Card link</a>
            <a href="#" class="card-link ">Another link</a>
            </div>
        </div>
    </div>

    <%- include ('../partials/footer.ejs') %>
</body>
</html>